<div class="container">
    <div class="instructions">
    <div class="main-head">
        <h1>Electrical Machines</h1>
    </div>
        <span>This quiz will contains total 10 questions.Each question holds 10 marks</span>
    <div class="rules">
        <h3>Rules:</h3>
        <span>1. Correct Questions gives you 10 marks.<br>
            2. Incorrect Questions gives -10 marks.<br>
            3. You will have 60 sec to answer each question.<br>
            4. Refreshing the page with reset the Quiz.
        </span>
    </div>
    <div class="name-container">
        <div class="name-content">
        <label>Enter your Name : </label>
        <input type="text" #name class="form-control" placeholder="Enter your Name..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <button mat-raised-button color="warn" routerLink="/domain/electricalmachines/quiz" (click)="startQuiz()">Start Quiz 	<mat-icon>arrow_forward</mat-icon></button>
    </div>
</div>
    <div class="bg-img">
        <img src="assets/images/7191119_3569284.jpg">
    </div>
</div>

